.header {
  padding-bottom: 7.5rem;
  margin-bottom: .625rem;
  .topBar {
    padding-top: 1.5rem;
    display: flex;
    a {
      justify-self: end;
    }
  }
  .slogan {
    text-transform: uppercase;
    font-weight: lighter;
    margin: 3.75rem 3.75rem 0;
  }
}
